body,
html {
margin-left: 15px;
}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

  
} 

p{ width: 660px;
margin-left: 25px; 
font-size: 1.3em;}
