body,
html {
margin-left: 15px;
}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

  
} 

p{ width: 660px;
margin-left: 2em; 
font-size: 1.3em;}

blockquote{ width: 660px;
margin-left: 4em; 
font-size: 1.1em;}
