body,
html {
margin-left: 15px;
}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

@font-face {
font-family: "Tiny Grotesk Narrow Regular";
src: url("/css/fonts/TinyGrotesk-NarrowRegular.woff") format("woff"),
url("/css/fonts/TinyGrotesk-NarrowRegular.otf") format("opentype");
}
  
} 

p{ 
font-family: "Tiny Grotesk Narrow Regular", sans-serif;
width: 30em;
margin-left: 2em; 
margin-bottom: 1.75em;
font-size: 1.3em;
line-height: 1.3em;}

blockquote{ 
font-family: "Tiny Grotesk Narrow Regular", sans-serif;
width: 30em;
margin-left: 6em; 
font-size: 1.1em;
line-height: 1.4em;}
