

/* ---   Global Styles + Fonts   --- */

body,
html {
	background-color: GhostWhite;
	}

@font-face {
	font-family: "Tiny Grotesk Narrow";
	src: 	url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-NarrowRegular.woff") format("woff"),
			url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-NarrowRegular.otf") format("opentype");}

@font-face {
	font-family: "Tiny Grotesk";
	src: 	url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-Regular.woff") format("woff"),}




/* ---   Mobile   --- */

@media screen and (max-width: 650px) {

}



/* ---   Page Title + Nav   --- */

h1{ 
	font-family: "Tiny Grotesk Narrow", sans-serif;
	margin-left: 1.6em; 
	margin-bottom: 1.75em;
	font-size: 1.6em;
	line-height: 1.3em;}

.page-title { 
	display: block;
	color:rgb(23, 172, 16);
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	margin: 1.5em auto 1.5em auto; 
	font-size: 1.6em;
	line-height: 1.3em;}

.nav-wrapper { 
	position: relative;
	margin: 0em auto; 
	text-align:center;}

.page-subtitle-nav { 
	display: inline-block;
	color:rgb(23, 172, 16);
	padding-left: .75em;
	padding-right: .75em;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	margin: 0 auto 0 auto; 
	font-size: 1.2em;
	line-height: 1em;}

.page-subtitle-nav a { 
	display: block;
	color:rgb(23, 172, 16);
	padding: .5em 1em .5em 1em;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	line-height: 1em;
	text-decoration: none;
	border: 1px dotted rgb(23, 172, 16);
	border-radius:1em;
	transition: .5s;}

.page-subtitle-nav a:hover{ 
	display: block;
	background-color:rgb(23, 172, 16);
	color:white;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	line-height: 1em; 
	text-decoration: none;
	border: 1px dotted rgb(23, 172, 16);
	border-radius:1em;}

.page-subtitle-nav-active { 
	display: inline-block;
	color:rgb(23, 172, 16)
	padding-left: .75em;
	padding-right: .75em;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	margin: 0 auto 0 auto; 
	font-size: 1.2em;
	line-height: 1em;}

.page-subtitle-nav-active a { 
	display: block;
	background-color:rgb(23, 172, 16);
	color: white;
	padding: .5em 1em .5em 1em;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	line-height: 1em;
	text-decoration: none;
	border: 1px dotted rgb(23, 172, 16);
	border-radius:1em;
	transition: .5s;}

.page-subtitle-nav-active a:hover{ 
	display: block;
	background-color:rgb(23, 172, 16);
	color:white;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	line-height: 1em; 
	text-decoration: none;
	border: 1px dotted rgb(23, 172, 16);
	border-radius:1em;}

.page-subtitle-nav-2 { 
	display: inline-block;
	color:rgb(23, 172, 16);
	padding-left: .75em;
	padding-right: .75em;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	margin: 0 auto 0 auto; 
	font-size: .75em;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: .25em;}

.page-subtitle-nav-2 a { 
	display: block;
	color:rgb(23, 172, 16);
	padding: .5em 1em .5em 1em;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	line-height: 1em;
	text-decoration: none;
	border: 1px dotted rgb(23, 172, 16);
	border-radius:1em;
	transition: .5s;
	text-transform: uppercase;}

.page-subtitle-nav-2 a:hover{ 
	display: block;
	background-color:rgb(23, 172, 16);
	color:white;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	line-height: 1em; 
	text-decoration: none;
	border: 1px dotted rgb(23, 172, 16);
	border-radius:1em;
	text-transform: uppercase;}

.page-subtitle-nav-2-active { 
	display: inline-block;
	color:rgb(255, 255, 255)
	background-color:rgb(23, 172, 16);
	padding-left: .75em;
	padding-right: .75em;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	margin: 0 auto 0 auto; 
	font-size: .75em;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: .25em;}

.page-subtitle-nav-2-active a { 
	display: block;
	background-color:rgb(23, 172, 16);
	color: white;
	padding: .5em 1em .5em 1em;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	line-height: 1em;
	text-decoration: none;
	border: 1px dotted rgb(23, 172, 16);
	border-radius:1em;
	transition: .5s;
	text-transform: uppercase;}

.page-subtitle-nav-2-active a:hover{ 
	display: block;
	background-color:rgb(23, 172, 16);
	color:white;
	text-align:center;
	font-weight: bold;
	font-family: "Tiny Grotesk Narrow", sans-serif;
	line-height: 1em; 
	text-decoration: none;
	border: 1px dotted rgb(23, 172, 16);
	border-radius:1em;
	text-transform: uppercase;}





/* ---   Page Text Styles + Link Styles   --- */

h2 { 
	font-family: "Tiny Grotesk Narrow", sans-serif;
	color:rgb(23, 172, 16);
	margin-left: 1.6em; 
	font-size: 1.2em;
	font-weight:normal;
	line-height: 1.3em;
	text-decoration: none;}

p { 
	font-family: "Tiny Grotesk", sans-serif;
	width: 80%;
	margin-left: 2em; 
	margin-bottom: 1.75em;
	font-size: 1.3em;
	line-height: 1.3em;}

blockquote { 
	font-family: "Tiny Grotesk Narrow", sans-serif;
	width: 70%;
	margin-left: 6em; 
	font-size: 1.1em;
	line-height: 1.4em;}

a { 
	font-family: "Tiny Grotesk", sans-serif;
	font-size: 1em;
	line-height: 1em;
	text-decoration: underline;
	color: DarkSlateGrey;}

a:hover { 
	font-family: "Tiny Grotesk", sans-serif;
	font-size: 1em;
	line-height: 1em;
	text-decoration: underline;
	color: black;}



/* ---   Rotate Effect   --- */

.rotate-wrapper{ 
	width: 80%;
	margin:0 auto 2em auto;
	perspective: 1000px;}

.non-rotate{ 
	margin-bottom: 1.75em;
	font-family: "Tiny Grotesk", sans-serif;
	font-size: 1.3em;
	line-height: 1.3em;
	color: DarkSlateGrey;}

.rotate{ 
	margin-bottom: 1.75em;
	transform-style: preserve-3d;
	transform: rotateY(70deg);
	transition: .5s;
	font-family: "Tiny Grotesk", sans-serif;
	font-size: 1.3em;
	line-height: 1.3em;
	color: DarkSlateGrey;}

.rotate2{ 
	margin-bottom: 1.75em;
	transform-style: preserve-3d;
	transform: rotateY(-30deg);
	transition: .5s;
	font-family: "Tiny Grotesk", sans-serif;
	font-size: 1.3em;
	line-height: 1.3em;
	color: DarkSlateGrey;}

.rotate:hover { 
	transform-style: preserve-3d;
	transform: rotateX(0deg);}

.rotate2:hover { 
	transform-style: preserve-3d;
	transform: rotateX(0deg);}




/* ---   Media Styles   --- */

iframe{ 
	display: block;
	margin: 0 auto 2em auto;}

img{ 
	display: block;
	margin: 0 auto;}




/* ---   Are.na API Styles   --- */


.ChannelInfo {}
    
.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: .4em;
	line-height: 3.75em;
	letter-spacing: 1em;
	text-transform: uppercase;
	z-index:2;}
    
.ChannelContents {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0em;
	margin: 0 auto;
	perspective: 1000px;}

.Block {
	display: flex;
	margin: 0em auto;
	width: auto;
	padding: 0em;
	font-family: "Tiny Grotesk", sans-serif;
	font-weight: normal;
	font-size: 1em;}

.Block__title {
	display: block;
	padding: 0em;
	margin: 0em;
	font-family: "Tiny Grotesk", sans-serif;
	font-weight: bold;
	font-size: 1em;
	line-height: 1em;
	text-transform: uppercase;}

.Block_connected-at {
	display: block;
	padding: 0;
	margin: 0;
	font-family: "Tiny Grotesk", sans-serif;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.25em;}

.Block_description {
	display: block;
	padding: 0;
	margin: 0;
	font-family: "Tiny Grotesk", sans-serif;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.25em;}

.BlockInner__Link {
	display: block;
	padding: 0;
	margin: 0;
	font-family: "Tiny Grotesk", sans-serif;
	font-weight: bold;
	font-size: 1em;
	line-height: 1.25em;
	text-decoration: underline;}

.BlockInner__Channel {
	display: block;
	border: 1px solid green;
	padding: 1em 0.5em;
	font-weight: bold;
	color: green;
	display: block;
	text-decoration: none;}

.Block iframe{
	display: block;
	max-width: 100%;
	padding: 0;
	margin: 0;}

.Block p { 
	display: block;
	font-family: "Tiny Grotesk", sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1em;}

.BlockInner__Text p {
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
}

.BlockInner__Image {
	display: block;
	max-width: 400px;
	padding: 0;
	margin: 0;
}


.BlockInner__Media {
	display: block;
	max-width: 500px;
}


